.filterPanel-item {
    transition: background-color 0.3s, border-color 0.3s; /* Плавный переход */
}

.filterPanel-item.active {
    background-color: #e7e7e7; /* Серый цвет фона */
    color: #000; /* Цвет текста */
    border: 2px solid #b3b3b3; /* Цвет контура для активного состояния */
}

.filterPanel-item:hover {
    background-color: #e7e7e7; /* Цвет фона при наведении */
    border: 2px solid #b3b3b3; /* Цвет контура при наведении */
}
